<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/dist/jquery.min.js"></script>
    <script src="/webjars/font-awesome/js/all.min.js"></script>

    <script th:src="@{js/main.js}"></script>
    <script th:src="@{js/gameState.js}"></script>
    <script th:src="@{js/pastTransactions.js}"></script>
    <script th:src="@{js/newGameModal.js}"></script>
    <script th:src="@{js/pastGame.js}"></script>
    <script th:src="@{js/newTranactionModal.js}"></script>
</footer>
