<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header}"></head>
<body>
<div id="root">
    <nav class="navbar sticky-top">
        <div id="gameName" class="input-group input-group-lg">
            <span class="input-group-text">Game Name</span>
            <input type="text" class="form-control">
            <span class="input-group-text">Save</span>
        </div>
        <div class="playerBalanceGroup">
            <div class="playerBalance shadow text-center">
                <div>Bank</div>
                <div>3000</div>
            </div>
            <div class="playerBalance shadow text-center">
                <div>Ashish</div>
                <div>3000</div>
            </div>
            <div class="playerBalance shadow text-center">
                <div>Papa</div>
                <div>3000</div>
            </div>
            <div class="playerBalance shadow text-center">
                <div>Richa</div>
                <div>3000</div>
            </div>
            <div class="playerBalance shadow text-center">
                <div>Ekansh</div>
                <div>3000</div>
            </div>
        </div>
    </nav>

    <div class="txn text-center shadow">
        <div class="text-success">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="txnSummary">
            Bank Paid Ashish 200
        </div>
        <div class="text-danger">
            <i class="fa-solid fa-circle-minus"></i>
        </div>
    </div>
    <div class="txn text-center shadow">
        <div class="text-success">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="txnSummary">
            Bank Paid Ashish 200
        </div>
        <div class="text-danger">
            <i class="fa-solid fa-circle-minus"></i>
        </div>
    </div>
    <div class="txn text-center shadow">
        <div class="text-success">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="txnSummary">
            Bank Paid Ashish 200
        </div>
        <div class="text-danger">
            <i class="fa-solid fa-circle-minus"></i>
        </div>
    </div>
    <div class="txn text-center shadow">
        <div class="text-success">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="txnSummary">
            Bank Paid Ashish 200
        </div>
        <div class="text-danger">
            <i class="fa-solid fa-circle-minus"></i>
        </div>
    </div>
    <div class="txn text-center shadow">
        <div class="text-success">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="txnSummary">
            Bank Paid Ashish 200
        </div>
        <div class="text-danger">
            <i class="fa-solid fa-circle-minus"></i>
        </div>
    </div>
    <div class="txn text-center shadow">
        <div class="text-success">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="txnSummary">
            Bank Paid Ashish 200
        </div>
        <div class="text-danger">
            <i class="fa-solid fa-circle-minus"></i>
        </div>
    </div>
    <div class="txn text-center shadow">
        <div class="text-success">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="txnSummary">
            Bank Paid Ashish 200
        </div>
        <div class="text-danger">
            <i class="fa-solid fa-circle-minus"></i>
        </div>
    </div>
    <div class="txn text-center shadow">
        <div class="text-success">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="txnSummary">
            Bank Paid Ashish 200
        </div>
        <div class="text-danger">
            <i class="fa-solid fa-circle-minus"></i>
        </div>
    </div>
    <div class="txn text-center shadow">
        <div class="text-success">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="txnSummary">
            Bank Paid Ashish 200
        </div>
        <div class="text-danger">
            <i class="fa-solid fa-circle-minus"></i>
        </div>
    </div>
    <div class="txn text-center shadow">
        <div class="text-success">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="txnSummary">
            Bank Paid Ashish 200
        </div>
        <div class="text-danger">
            <i class="fa-solid fa-circle-minus"></i>
        </div>
    </div>
    <div class="txn text-center shadow">
        <div class="text-success">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="txnSummary">
            Bank Paid Ashish 200
        </div>
        <div class="text-danger">
            <i class="fa-solid fa-circle-minus"></i>
        </div>
    </div>
    <div class="txn text-center shadow">
        <div class="text-success">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="txnSummary">
            Bank Paid Ashish 200
        </div>
        <div class="text-danger">
            <i class="fa-solid fa-circle-minus"></i>
        </div>
    </div>
</div>
<div th:replace="~{modals/newGameModal}"/>
</body>
<div th:replace="~{fragments/footer}"></div>
</html>